.container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
.card {
  display: inline-block;
  margin-top: 60px;
  padding: 30px;
}
.form {
  display: flex;
  flex-direction: column;
}
.form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
mat-radio-group {
  display: grid;
  grid-auto-flow: column;
  justify-items: stretch;
  grid-gap: 20px;

}
