.container{
  position: relative;
  width: 100vw;
}
.content{
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}
.card{
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-top: 60px;
}
.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
}
.form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}
.field-error{
  color: red;
}
